@model Grade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />

    @Html.DisplayNameFor(model => model.GradeName): @Html.DisplayFor(model => model.GradeName)

    </dl>
</div>

